#brand{
        background: #085363;
    .banner-section{
        height: 1153px;
    }
    .section-1{
        margin-top: -155px;
        padding-top: 111px;
        &::after{
            content:"";
            display: block;
            position: absolute;
            top: 100px;
            left: 0;
            width: 100%;
            height: 500px;
            background: linear-gradient(#000A1C, #085363);
            z-index: -1;
        }
        #trigger{
            position: absolute;
            right: 0;
            top: -100px;
            width: 100px;
            height: 2px;
            pointer-events: none;
        }
        .img-block{
            margin-top: -38px;
            padding: 0 60px;
            max-width: 1670px;
            .text-box {
                position: absolute;
                z-index: 1;
                padding-left: 104px;
                top: 51%;
                left: 0;
                transform: translateY(-50%);

                .title {
                    position: relative;
                    padding-bottom: 42px;
                    margin-bottom: 36px;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 36px;
                        height: 2px;
                        background: rgba(255, 255, 255, 0.5);
                    }
                }
            }
            .img-box{
                position: relative;
                height: 700px;
                background-image: url(images/brand/1.webp);
                background-position:30% center;
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
            }


        }
        .text-block {
            position: absolute;
            top: 0;
            left: 14%;

        }
    }
    .section-2{
        padding-bottom: 90px;
        padding-top: 120px;
        background-image: url(images/brand/bg-dec.webp);
        background-repeat: no-repeat;
        background-position: right top;
        background-size: auto 100%;
        img{
            width: 100%;
            height: 675px;
            object-fit: cover;
        }
        .title-block{
            max-width: 810px;
            padding: 0 20px;
            padding-bottom: 32px;
        }
        .dec-bg{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
        }
        .text-swiper-wrapper{
            position: absolute;
            left: 66.5%;
            top:541px;
            transform: translateX(-50%);
            width: 395px;
            z-index: 1;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
            &::before{
                content:"";
                display: block;
                position: absolute;
                top: 56px;
                left: -32px;
                background: #C7A164;
                width: 64px;
                height: 2px;
                z-index: 2;
            }
            .text-swiper {
                .swiper-slide {
                    padding: 40px 48px;
                    background: #085363;
                    
                }
            }
        }
        .swiper-pagination.swiper-pagination-fraction{
            width: calc(64.52% - 35px);
        }
        .swiper-pagination.bullets{
            padding-top: 83px;
        }
    }
    .section-3{
        height: 745px;
        background-image: url(images/brand/3.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        .text-block{
            padding: 0 20px;
            .title{
                padding-bottom: 33px;
                margin-bottom: 35px;
                &:after{
                    content:"";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 36px;
                    height: 1px;
                    background: white; 
                    
                }
            }
        }
    }
    .section-4{
        padding-top: 124px;
        padding-bottom: 134px;
        .main-block{
            padding: 0 60px;
            margin-top: -206px;
            .wrapper{  
                max-width: 1550px;
                .img-box{
                    position: absolute;
                    left: 0;
                    bottom: 34px;
                    width: 51.5%;
                    .swiper-wrapper{
                        margin-bottom: 60px;
                        img{
                            max-width: 100%;
                            width: 100%;
                            height: 700px;
                            object-fit: cover;
                        }
                    }
                    .swiper-pagination {
                        left: auto;
                        bottom: 0;
                        right: 185px;
                        width: auto;
                    }
                }
                .text-box{
                    padding-top: 348px;
                    padding-left: 220px;
                    padding-right: 130px;
                    padding-bottom: 160px;
                    background: #073742;
                    width: 57%;
                    .title{
                        margin-bottom: 28px;
                    }
                    .subTitle{
                        position: relative;
                        padding-right: 83px;
                        padding-bottom: 38px;
                        margin-bottom: 27px;
                        &::before{
                            content:"";
                            display: block;
                            width: 680px;
                            height: 1px;
                            background:#C7A164;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            z-index: 1;
                        }
                        &::after{
                            content:"";
                            display: block;
                            width: 17px;
                            height: 17px;
                            border-radius: 50%;
                            border:1px solid #C7A164;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            transform: translate(50%,50%);
                        }
                    }
                    .description{
                        padding-right: 83px;
                    }
                }
            }
        }
    }


    @media(max-width:1599px){
        .section-4 .main-block .wrapper .text-box{
            padding-left: 180px;   
            padding-right: 80px;
            .subTitle{
                padding-right: 50px;
            }
            .description{
                padding-right: 50px;
            }
        }
    }
    @media(max-width:1399px){
        .banner-section{
            height: 980px; 
            .building {
                width: 1632px;
            }
        }
        .section-1 .text-block img{
            width: 2068px;
        }
        .section-2{
            img{
               height: 460px;
            }
            .text-swiper-wrapper{
                top: 390px;
                left: 70%;
            }
        }
        .section-4{
            padding-top: 175px;
            .text-block img{
                 width: 1053px;
            }
            .main-block{
                margin-top: -280px;
                .wrapper .img-box .swiper-wrapper img{
                    height: 550px;
                }
            }
        }
    }
    @media(max-width:1199px){
        .section-1{
            padding-top: 90px;
            .img-block{  
                .img-box{
                    height: 600px;
                    background-attachment: initial;
                }
                .text-box{
                    padding-left: 40px;
                    .title{
                        padding-bottom: 26px;
                        margin-bottom: 22px;
                    }
                }
            }
            .text-block img{
                width: 1608px;
            }
        }
        .section-2 .text-swiper-wrapper{
            position: relative;
            top: auto;
            left: auto;
            transform: none;
            margin: auto;
            margin-top: -40px;
            width: 56%;
            &::before{
                width: 28px;
                left: -14px;
                top: 38px;
            }
            .text-swiper .swiper-slide{
                padding: 23px 30px;
            }
        }
        .section-3{
            height: 600px; 
            background-attachment:initial;
        }
        .section-4{  
            &::after{
                content:"";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: calc(100% - 650px);
                background: #073742;
                z-index: -1;
            }
            .text-block img {
                width: 819px;
            }
            .main-block{          
                padding: 0 120px;
                margin-top: -30px;
                .wrapper{
                    .img-box {
                        position: static;
                        width: auto;
                        padding-bottom: 40px;
                        .swiper-wrapper img{
                            height: 670px;
                        }
                        .swiper-pagination{
                            right: 50%;
                            transform: translateX(50%);
                        }
                    }

                    .text-box {
                        padding: 40px;
                        padding-top: 0;
                        width: 100%;
                        background: initial;
                        .subTitle::before{
                            width: 100%;
                        }
                    }
                }
             }
        }

    }
    @media(max-width:991px){
        .banner-section {
            height: 750px;
            .building {
                width: 1100px;
            }
        }
        .section-1{
            #trigger{
                bottom: 500px;
                top: auto;
            }
            .img-block{          
                .text-box{
                    position: static;
                    transform: none;
                    padding-left: 0;
                    padding-bottom: 100px;
                    text-align: center;
                    .title::after{
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                .img-box{
                    height: 400px;
                    background-position: left 60% top 20%;
                }
            }
            .text-block{
                top: auto;
                bottom: 378px;
                img{
                    width: 1379px;
                }
            }
        }
        .section-2{
            img{
                height: 300px;
            }
            .swiper-pagination.bullets{
                padding-top: 40px;
            }
        }
        .section-4{
            padding-bottom: 80px;
            padding-top: 100px;
            &::after{
                height: calc(100% - 446px);
            }
            .text-block img{
                 width: 702px;
            }
            .main-block .wrapper .img-box .swiper-wrapper img{
                height: 450px;
            }
        }
    }
    @media(max-width:767px){
        .section-1{
            margin-top: -100px; 
            padding-top: 95px;
            .img-block{
                padding: 0;
                .text-box{
                    padding: 0 20px;
                    padding-bottom: 30px;
                }
            }
            .text-block{
                img{
                    width: 919px;
                }
            }
        }
        .section-3{
            height: auto;
            padding-top: 85px;
            padding-bottom: 85px;
        }
        .section-4{
            .main-block{
                padding: 0 40px;
            }
            .text-block img{
                width: 468px;
            }
        }
    }
    @media(max-width:575px){
        .banner-section {
            height: 466px;
            .building{
                width: 740px;
            }
        }
        .section-1{
            .img-block .img-box{
                height: 238px;
                background-attachment: initial;
            }
            .text-block{
                bottom: 230px;
                img{
                    width: 781px;
                }
            }
        }
        .section-2{
            padding-bottom: 50px;
            padding-top: 52px;
            img{
                height: auto;
            }
            .text-swiper-wrapper{
                margin-top: -23px;
                width: 79%;
            }
            .title-block{
                padding-bottom: 20px;
            }
            .swiper-pagination.bullets{
                padding-top: 20px;
            }
        }
        .section-3 .text-block{
            .tag{
                margin-bottom: 4px;
            }
            .title{
                line-height: 1.5;
                padding-bottom: 23px;
                margin-bottom: 25px;
            }
            
        }
        .section-4{
            padding-top: 70px;
            padding-bottom: 0;
            &:after{
                    height: calc(100% - 297px);
            }
            .text-block img{
                width: 398px;
            }
            .main-block{
                margin-top: -15px;
                padding-left: 24px;
                padding-right: 24px;
                .wrapper{
                    .text-box{
                        padding-left: 10px;
                        padding-right: 10px;
                        .title{
                            margin-bottom: 11px;
                        }
                        .subTitle{
                            padding-right: 15px;
                        }
                        .description{
                            padding-right: 15px;
                        }
                    }
                    .img-box{
                        padding-bottom:30px;
                        .swiper-wrapper{
                            margin-bottom: 35px;
                            img{
                                height: 302px;
                            }
                        }
                    }
                }
            }
        }
    }
}