#data{
    padding: 50px;
    h1 {
        text-align: center;
        font-size: 28px;
        margin-bottom: 30px;
    }
    table{
        width: 100%;
        border-top:1px solid black;
        border-bottom:1px solid black;
        thead{
            background: rgba(239, 239, 239, 1);
        }
        tbody{
            tr{
                &:not(:first-child){
                    border-top:1px solid rgba(218, 218, 218, 1);
                }
            }
        }
        td,th{
            padding:10px 10px;
        }
    }
    p{
        margin-top: 50px;
        font-size: 12px;
        text-align: center;
    }
}